<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="newborn">
        <div class="sideBar">
            <div class="tag">Newborn</div>
            <div class="undtags"><a href="/category/obzor">Обзор</a></div>
            <div class="undtags" style="background-color: brown;"><a href="/history">История</a></div>
            <div class="undtags"><a href="/order">Добавить заказ</a></div>
            <div class="undtags"><a href="/category">Категории</a></div>
            <div class="bottom"><a href="/">Выйти</a></div>
        </div>
        <div class="content">
            <h1>История заказов</h1>
            <br>
            <div class="category">
            {{#each historyAll}}
              <div class="addss">
                <div class="categoryname">{{this.name}}</div>
                <div class="categoryname">{{this.cost}}</div>
                <div><a href="/history/delete/{{this._id}}">Удалить</a></div>
              </div>
            {{/each}}
            </div>
        </div>
    </div>
    
  </body>
</html>
