<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/mpjct.css" />
  </head>
  <body>
    <div class="newborn">
      <div class="tag">Newborn</div>
      <div class="undtags" style="background-color: brown;"><a href="/category/obzor">Обзор</a></div>
      <div class="undtags"><a href="/history">История</a></div>
      <div class="undtags"><a href="/order">Добавить заказ</a></div>
      <div class="undtags"><a href="/category">Категории</a></div>
      <div class="bottom"><a href="/">Выйти</a></div>
    </div>
    <b><h1 class="obz">Обзор
      <br>
      {{this.auth}}



    </h1></b>
  </body>
</html>
